# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# -------------------------------
# Jupyter Notebook
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Environment Variables
# -------------------------------
.env

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# OS Files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Model Files (Optional)
# -------------------------------
models/*.pkl

# -------------------------------
# Data Files (Optional - if large)
# -------------------------------
data/*.csv

# -------------------------------
# Streamlit
# -------------------------------
.streamlit/

# -------------------------------
# Build / Cache
# -------------------------------
build/
dist/
*.egg-info/